
/*Video Baner*/
video {
  max-width: 100%;
  height: auto;
}

/* seccion sobre nosotros */
#nosotros{
  display: flex;
  background-color: var(--naranja);
  padding-bottom: 0px;
}
#nosotros img{
  width: 40%;
  margin: 80px 50px;
  padding: 0px;
}
.nosotros-contenido{
  margin: 80px; 
  border-radius: 10px;
  box-shadow: 0 8px 16px var(--gris);
  width: 800px;
}
.nosotros-contenido p{
  font-size: 20px;
  margin: 30px;
  text-align: justify;
}
h1{
  margin-top: 5%;
  font-family: Raleway;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; 
  text-align: center;
}
@media only screen and (max-width: 780px){
  #nosotros img{
    display: none;
  }
  .nosotros-contenido{
    margin: 10px; 
    border-radius: 10px;
    box-shadow: 0 8px 16px var(--gris);
    width: 100%;
  
  }
  .nosotros-contenido p{
    padding-top: 10px;
    font-size: 15px;
    margin: 30px;
    text-align: justify;
    line-height: 140%;
  }
  h1{
    margin-top: 20px;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 800; 
  }
}
a{
  text-decoration: none;
}

/*seccion service*/
#contenedor{
  background-image: url(Finiximagenes/bolitas2.png);
  max-width: 1500px;
  min-width: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 82px;
  background-repeat: no-repeat; 
}
h2{
  font-family: Raleway;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height:  0%; 
  }
h3{
  font-size: 35px;
}
.tarjetas_paginas{
  color: var(--blanco);
  font-size: 20px;
  list-style: none;
  text-align: left;
  padding-left: 50px ;
}
.tarjeta2_conten{
  font-size: 18px;
  list-style: none;
  line-height: 28px;
}
.diseño_seo{
  display: flex;
  justify-content: start;
  flex-direction: column;
}
/* Aqui inicia Efecto girar tarjeta */
.tarjetas {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.tarjeta {
	width: 300px;
  height: 350px;
	margin: 1rem;
	perspective: 1000px;
	transform-style: preserve-3d;
}
.tarjeta2 {
	width: 300px;
  height: 350px;
	margin: 1rem;
	perspective: 1000px;
	transform-style: preserve-3d;
}
.tarjeta .frontal,
.tarjeta .tracero {
	height: 400px;
	min-height: 280px;
	background-size: cover;
	background-position: center;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
	color: #fff;
	font-size: 0.5rem;
	text-align: center;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.tarjeta2 .frontal,
.tarjeta2 .tracero {
	height: 400px;
	min-height: 280px;
	background-size: cover;
	background-position: center;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
	color: #fff;
	font-size: 0.5rem;
	text-align: center;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.tarjeta .frontal {
  background-image:  url(Finiximagenes/marketing\ fondo.png);
  /* Posicion por defecto */
  transform: rotateY(0deg);
}
.tarjeta2 .frontal {
  background-image:  url(Finiximagenes/fondoDesarrolloWeb.png);
  /* Posicion por defecto */
  transform: rotateY(0deg);
}
.tarjeta .tracero {
	width: 100%;
	background-image: url(Finiximagenes/fondoBolitas.png);
	top: 0;
	left: 0;
	position: absolute;
	transform: rotateY(180deg);
}
.tarjeta2 .tracero {
	width: 100%;
	background-image: url(Finiximagenes/fondoBolitas.png);
	top: 0;
	left: 0;
	position: absolute;
	transform: rotateY(180deg);
}
/* Velocidad de trancicion */
.tarjeta:hover .frontal,
.tarjeta:hover .tracero {transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);}
/*tarjeta 2*/
.tarjeta2:hover .frontal,
.tarjeta2:hover .tracero {transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);}

/* Girar imagen */
.tarjeta:hover .frontal {transform: rotateY(-180deg);}
.tarjeta:hover .tracero {transform: rotateY(0deg);}
/*tarjeta 2*/
.tarjeta2:hover .frontal {transform: rotateY(-180deg);}
.tarjeta2:hover .tracero {transform: rotateY(0deg);}

.tarjeta .contenido {
	width: 100%;
	position: absolute;
	padding: 2rem;
	box-sizing: border-box;
	top: 50%;
	left: 0;
	perspective: inherit;
  /* Posicion de texto central */
	transform: translateY(-50%) translateZ(60px) scale(0.94);
}
.tarjeta2 .contenido {
	width: 100%;
	position: absolute;
	padding: 2rem;
	box-sizing: border-box;
	top: 50%;
	left: 0;
	perspective: inherit;
  /* Posicion de texto central */
	transform: translateY(-50%) translateZ(60px) scale(0.94);
}
.frontal .contenido p {
	font-size: 1rem;
	position: relative;
	margin-bottom: .5rem;
}
.frontal .contenido hr {
	width: 4rem;
	height: 1px;
	background: #b3d1e7;
	margin: 0 auto;
	margin-bottom: 1.5rem;
}
.frontal .contenido span {color: rgba(255, 255, 255, 0.7);}
/*fin de girar tarjeta*/
.tarjetas-moviles{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 20px;
  padding: 25px;
  height: 450px;
  width: 850px;
}
.more{
  color: var(--blanco);
  background-color: var(--naranja);
  border-radius: 50px;
  height: 42px;
  width: 230px;
  font-size: x-large;
  transform-style: preserve-3d;
  transition: 1s ease all;
  border-color: var(--naranja);
  margin-top: 2px;
}
.more:hover{
  transform: matrix3d(1.1,0,0,0,0,1.1,0,0,0,0,1.2,0,0,0,0,1);
  box-shadow: 0 0 10px 2px var(--blanco);
}  
h4{
color: #F60;
text-align: center;
font-family: Raleway;
font-size: 30px;
font-style: normal;
}
@media only screen and (max-width: 780px){
  .tarjetas-moviles{
    flex-direction: column;
    height: 850px;
    width: auto;
  }
  .more{
    margin-top: 10%;
  }
  h2{
    font-size: 30px;
  }
}

/*testimonios*/
/*
#conten_testimonios {
  margin: 80px;
  padding: 10px;
}

.titulo-testimonio {
  text-align: center;
  font-size: 2.5rem; 
  color: var(--ceniza);
  margin-bottom: 100px;
}

.testimonios {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 30px;
  margin-inline: 50px;
  list-style: none;
}

.testimonios-cuadro {
  border-radius: 25px;
  background-color: rgba(71, 66, 66, 0.644);
  width: 350px;
  min-height: 315px; 
  box-shadow: 0px 6px 20px 6px rgba(59, 55, 52, 0.349);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px; 
}

.testimonios-cuadro p {
  font-size: 1.80rem; 
  overflow-wrap: break-word; /* Asegura que las palabras largas se rompan y no desborden */
  /*text-align: center;
}

.testimonios-cuadro span {
  font-size: 1.25rem;
  font-weight: 800;
}

@media (max-width: 760px) {
  #conten_testimonios {
    margin: 0;
    padding: 0;
  }
  
  .testimonios {
    grid-template-columns: 1fr;
    gap: 80px; 
    margin-inline: 20px;
  }
  
  .testimonios-cuadro {
    width: auto;
    margin: 0 20px;
  }
  
  .titulo-testimonio {
    font-size: 30px;
    margin-bottom: 50px; 
    margin-top: 20px; 
  }
}*/

/*foto cambia de color*/



@media (max-width: 768px){ 
  .profile-container{
    /*margin: -60px 0 100px 125px;*/
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

}

/*.........................................................*/
#conten_testimonios {
  margin: 50px auto; /* Centra el contenido */
  max-width: 800px; /* Establece un ancho máximo */
}

.titulo-testimonio {
  text-align: center;
  font-size: 28px;
  color: var(--ceniza);
  margin-bottom: 80px;
}

.testimonios {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px){
  .testimonios{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }
}

.testimonios-cuadro {
  background-color: rgba(148, 133, 133, 0.651);
  border-radius: 10px;
  padding: 90px 20px 20px 20px;
  margin-bottom: 80px;
  position: relative; /* Para posicionar los elementos internos */
  box-shadow: 0px 6px 20px 6px rgba(59, 55, 52, 0.349);
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Para posicionar los elementos internos */
}

.profile-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 15px;
  position: absolute; /* Posicionamiento absoluto */
  top: -130px; /* Mueve el elemento hacia arriba */
}

.nombre_testimonio {
  font-size: 15px;
  font-weight: bold;
  color: var(--blanco);
}

.conten_usuarios {
  margin-top: 10px;
  color: var(--blanco);
  font-size: 2.5vh;
}

.rating {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.rating input[type="radio"] {
  display: none;
}

.rating label {
  cursor: pointer;
  font-size: 24px;
  color: #ccc;
  margin-right: 5px;
}

.rating label:before {
  content: '\2605';
}

.rating input[type="radio"]:checked ~ label {
  color: #ffc107;
}



/*.........................................................*/
.nombre_testimonio {
  
  text-align: center;
  
}
.profile-photo {
  overflow: hidden;
  position: absolute;
  width: 100px; 
  height: 100px; 
  border-radius: 50%;
  background-size: cover;
  transition: filter 0.5s ease; 
  filter: grayscale(90%);
}
.profile-photo:hover {
  filter: grayscale(0%);
}
.photo1 { background-image: url('/css/Finiximagenes/mujer.jpg'); }
.photo2 { background-image: url('/css/Finiximagenes/hombre2.jpg'); }
.photo3 { background-image: url('/css/Finiximagenes/hombre.jpg'); }

/*Formulario*/

#formulario {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  margin-bottom: 10%;
}
.listado {
  list-style: none;
  padding: 0;
  font-size: 18px;
  color: var(--naranja);
}
.brand {
  text-align: center;
  margin-bottom: 5%;
}
.wrapper {
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}
.wrapper > * {
  padding: 1em;
}
.company-info{
  background: #121212b2;
}
.company-info h3, .company-info ul{
  text-align: center;
  margin: 0 0 1rem 0;
}
.company-info ul li i{
  margin-right: 10px;
}
.contact {
  background: #1212127a;
}
.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.contact form label {
  display: block;
}
.contact form p{
  margin: 0;
}
.contact form .full {
  grid-column: 1/3;
}
.contact form button, .contact form input, .contact form textarea{
  width: 100%;
  padding: 1em;
  border: 1px solid #c9e6ff;
}
.contact form button {
  color: var(--blanco);
  background: var(--gris);
  border: 0;
  text-transform: uppercase;
}
.contact form button:hover, .contact form button:focus{
  background: var(--ceniza);
  color: var(--naranja);
  outline: 0;
  transition: all 0.5s ease-out;
}
.logo-form{
  margin-bottom: 30px;
}
@media(min-width: 700px){
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .wrapper > * {
    padding: 2em;
  }
}

/*Efecto parallax */
.parallax-section {
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  height: 35vh; /* Ajusta la altura según sea necesario */
  width: auto;
}